@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

:root {
  --color-hover-primary-lighter: #4987da;
  --color-primary-lighter: #3479d6;
  --color-primary-light: #206cd1;
  --color-primary: #0b5ecd;
  --color-primary-dark: #0c57bc;
  --color-primary-darker: #0c50ab;
  --color-hover-primary-darker: #0d499a;
  --color-background-dark: #121212;
  --color-dark: #111923;
  --color-darker: #112034;
  --color-hover-darker: #102745;
  --color-secundary-light: none;
  --color-secundary: none;
  --color-secundary-dark: none;
  --color-white: #fff;
  --color-black: #111;

  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body,
button,
input,
textarea {
  color: #fff;
  font: 500 1.6rem Nunito;
}
