@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

:root {
  --color-background: #f0f0f7;
  /*--color-primary-lighter: #9871f5;
  --color-primary-light: #916bea;*/
  --color-primary: #4bb2f9;
  --color-primary-dark: #46a3e4;
  --color-primary-darker: #4195cf;
  --color-hover-primary-darker: #3b86ba;
  --color-background-dark: #121212;
  --color-dark: #172127;
  --color-darker: #1c2f3c;
  --color-hover-darker: #223e51;
  /*--color-secundary: ;
  --color-secundary-dark: ;*/
  --color-title-in-primary: #ffffff;
  --color-text-in-primary: #d4c2ff;
}

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body,
button,
input,
textarea {
  color: #fff;
  font-family: Nunito, Arial, Helvetica, sans-serif;
}
